h1 {
  font-size: 30px;
  text-align: center;
  color:blue;
}

p {
  font-size: 18px;
  text-align: center;
  color:blue
}

.container {
  text-align: left;
}

#output {
  text-align: center;
  font-size: 30px;
}
